* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-bottom: 15px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="password"], input[type="text"], input[type="date"], select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: blue;
}

.centered {
    text-align: center;
    margin-top: 20px;
}

.centered a {
    text-decoration: none;
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
}

.centered a:hover {
    text-decoration: underline;
}